@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body class="card-body">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Students/index">HOME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Students/Getall">GET ALL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Students/Create">CREATE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Students/Update">UPDATE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Students/Delete">DELETE</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <main class="card-body">
        <div class="card text-center">
            <h5 class="card-title">WELCOME TO UPDATE PAGE</h5>
            <p class="card-text">Edit student information.</p>
            <a href="/Students/index" class="btn btn-primary">Go Home</a>
        </div>
    </main>

    <footer class="card text-center">
        <div class="card-footer text-body-secondary">
            FOOTER
        </div>
    </footer>

</body>
</html>